:root {
    --bgorange: #e84949;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'public sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 1rem;
}

.logo{
    width: 60px;
}

.logo-text{
    font-size: 1.3rem;
    font-weight: 400px;
    color: #000;
}

.logo-container{
    display: flex;
    align-items: end;
}

.nav-items{
    display: flex;
    gap: 1.5rem;
    padding: 2rem;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    transition: 0.3s;
    color: #007bff;
    text-decoration: underline;
}

.hero-section{
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
    margin: 4rem auto;
    gap: 2rem;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{
    position: absolute;
    user-select: none;
    font-size: 5em;
    color: rgb(231, 231, 231);

    bottom: -16%;
    left: -2%;
    font-weight: bold;
    transition: all 3s ;
    z-index: -1;
    pointer-events: none;
}

.hero-section-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-heading{
    font-size: 35px;
    color: #343D68;
    font-weight: 500;
}

.role{
    color: #4e45d5;
    font-weight: 800;
}

.hero-section-description{
    margin-top: 1rem;
    font-weight: 500;
    width: 100%; /* Take full width of left container */
}   

.btn-pink{
    background-color: var(--bgorange);
    width: fit-content;
    color: #fff;
    padding: 0.8rem 2rem;
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.btn-pink:hover {
    transform: scale(1.05);
}

.absolute{
    position: absolute;
}

.hero-section-right{
    position: relative;
    width: 40%;
}

.icons{
    position: absolute;
}

.icons img {
    width: 60px;
}

.icon-dots{
    bottom: -3rem;
    right: 8rem;
    z-index: 9;
    animation: dotsIconAnimation 3s linear infinite;
}

.icon-dots img {
    width: 70px; 
}

.icon-dev{
    top: 0.5rem;
    left: 0.5rem;
    z-index: 9;
    animation: devIconAnimation 3s linear infinite;
}

.icon-idea{
    top: 0.5rem;
    right: 6.5rem;
    z-index: 9;
    animation: ideaIconAnimation 3s linear infinite;
}

.icon-idea img{
     width: 70px;
} 

.icon-execution{
    bottom: -1.5rem;
    left: -1.5rem;
    z-index: 9;
    animation: executionIconAnimation 3s linear infinite;
}

.user-image img{
    width: 100%;
    max-width: 280px;
}

.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    z-index: 2;
    display: flex;
    justify-content: center;
    animation: userImageAnimation 3s linear infinite;
}

@keyframes devIconAnimation {
    0% {
        transform: translateY(12px)
    }
    50% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(12px)
    }
}

@keyframes ideaIconAnimation {
    0% {
        transform: translateY(-12px) rotateY(0deg)
    }
    50% {
        transform: translateY(0) rotateY(180deg)
    }
    100% {
        transform: translateY(-12px) rotateY(360deg)
    }
    
}

@keyframes executionIconAnimation {
    50% {
      left: 0%;
      bottom: -2px;
      scale: 1.3;
    }
    
}

@keyframes dotsIconAnimation {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(180deg);
        scale: 1.5;
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes userImageAnimation {
    0% {
        filter: grayscale(1);
        scale: 0.9;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }
    50% {
        filter: grayscale(0);
        scale: 1;
        box-shadow: none;

    }
    100% {
        filter: grayscale(1);
        scale: 0.9;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }
    
}